<!doctype html>
<html lang="en">
    <!---header section--->
    <head>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@300&display=swap" rel="stylesheet">
        <meta charset="utf-8">
        <title>Chelsea Elrod</title>
        <link rel="stylesheet" href="./styles/main.css">
        <link rel="stylesheet" href="../styles/page.css">
    </head>
    <!---body section--->
    <body style="background-color: teal">

        <nav class="navbar">
            <ul class="nav__list">
                <p class="contact"><a href="./contact.html">Contact</a></p>
                <p class="technologies"><a href="./techstack.html">Technologies</a></p>
                <p class="home"><a href="../index.html">Home</a></p>
            </ul>
        </nav>

        <div>
            <header class="subpage__main">
                <h2 class="subpage--projects">My Projects:</h1>
            </header>
            </div>
    
            <main>
            <div class="projects__link">
                <article class="project_detail">
                    <li><a href="https://github.com/chelsealelrod/campsmore">Camp S'More</a></li>
                    <p>Application to help local Campers find a spot to Camp and communicate with
                        others on the topic of all things camping! Make Reservations/Delete, Search for Camp Site,
                        Add/Delete a message to the message board.
                    </p>
                    <li><a href="https://github.com/chelsealelrod/owego">Owe-Go</a></li>
                    <p>Bill Due-Date Tracker to help user keep track of all personal bills 
                        all in one spot. Add/Delete/Edit options for each user. Notes are also
                        an option to organize each bills by categories/tags.
                    </p>
                </article>

            <div>
                <header class="subpage__main">
                    <h2 class="subpage--projects">Group Projects:</h1>
                </header>
            </div>

            <div class="project_detail">
                <li><a href="https://github.com/chelsealelrod/-giffygram-group-project-group-1">GiffyGram</a></li>
                <p>Application created to post your favorite Gifs and share with friends.</p>
            </div>
    
            </div>
            </main>
        <!---footer section--->
            <footer class="footer">
                <p>&#169;2022 | Chelsea Elrod</p>
            </footer>